* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;
    --background: #fdfdfd;
    --dark-bg: #202020;
    --purple: rgb(91, 10, 91);
}

/* =================
    Main Styles
   ================= */

body {
    background-color: var(--background);
    color: var(--black);
    font-family: 'Source Sans 3', sans-serif;
}

.outer-container {
    max-width: 1000px;
    margin: auto;
}

/* =================
Header and Nav and Links
   ================= */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    text-transform: uppercase;
    font-size: .75rem;
    padding: 0 1em 0 0;
}

a,
a:active {
    text-decoration: none;
    color: inherit
}

a:hover:not(.no-color),
a:focus:not(.no-color) {
    color: var(--purple);
}

a:hover,
a:focus {
    text-decoration: underline;
}




.logo {
    width: 60%;
    max-width: 400px;
}

/* =================
    Posts
   ================= */

.main-post {
    height: 300px;
    background-image: url(images/dog-cat-3.png);
    background-size: cover;
    background-position: 70% 20%;
    display: flex;
    align-items: end;
}

.main-post-text {
    color: var(--white);
    padding: 1.5em;
}

.main-post-date,
.main-post-para,
.top-post-date,
.top-post-para {
    font-weight: 200;
}

.main-post-title,
.top-post-title {
    font-weight: 400;
    text-shadow: 0 1px var(--black);
    font-size: 2rem;
}


.posts {
    padding: 2em 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1.5em;
}

.post {
    margin: 1.5em 0;
}

.post-image {
    width: 100%;
    margin-bottom: 1em;
}

.read-more {
    margin-top: 1em;
    font-style: italic;
    text-decoration: underline;
}

.recent-posts {
    text-align: center;
}



/* =================
    About page
   ================= */
.about-img {
    width: 180px;
    border-radius: 50%;
    border: 4px solid var(--purple);
}

.about-post-title {
    font-size: 2rem;
    color: var(--black);
    margin-bottom: .5em;
}

.about-top {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-post-text {
    padding: 1em 0 0;
}

.about-posts {
    padding: 1em;
}

.about-post:not(:first-child) {
    margin: 1.5em 0;
}



/* =================
    Post page
   ================= */

.top-post-container {
    padding: 0 5em 2em;
}

.top-post-title {
    margin: 1em 0;
}

.post-page {
    padding: 1em 5em 0;
}

.top-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em;
}

.top-post-img {
    max-width: 96%;
}
/* =================
    Footer
   ================= */

   footer {
    background-color: var(--dark-bg);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .footer-text {
    color: var(--white);
    font-weight: 200;
    font-size: 0.75rem;
   }

/* =================
    Media queries
   ================= */

@media (min-width: 576px) {
    .main-post {
        height: 500px;
    }

    li {
        font-size: 1.25rem;
    }
}

@media (min-width: 900px) {
    .about-top {
        flex-direction: row;
        gap: 2em;
    }
}