* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    padding: 0 1em 0 0;
}

.logo {
    max-width: 400px;
}